@charset "utf-8";

.fixed-menu {
  width: 100%;
  position: sticky;
  z-index: 1000;
  top: 0;
}
.top-menu {
  background-color: #10069e;
  padding: 20px 0 0;
}
.top-menu .top-menu-inner {
  display: flex;
  padding: 10px 0;
  margin: 0 15px;
  border-top: 3px solid white;
  justify-content: space-between;
  color: white;
  font-weight: bold;
}
.top-menu .top-menu-inner .top-menu-left {
  width: 32%;
  min-width: 145px;
  display: flex;
  justify-content: space-between;
}
.top-menu .top-menu-inner .top-menu-left .side-menu-btn {
  text-indent: -9999px;
  width: 24px;
  height: 24px;
  background: url(../images/list.svg) no-repeat 50% / cover;
}
.top-menu .top-menu-inner .top-menu-rigth {
  width: 38%;
  min-width: 100px;
  display: flex;
  justify-content: space-between;
}
.fixed-menu .side-menu {
  z-index: 10000;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  transition: 0.3s;
}
.fixed-menu .side-menu.active {
  position: absolute;
  left: 0;
  /*   box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 9999px; */
  z-index: 100;
}
.fixed-menu .side-menu .empty-wrapper {
  display: none;
}
.fixed-menu .empty-wrapper.active {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 99;
}
.fixed-menu .side-menu.active .horizontal-menu .horizontal-menu-inner {
  display: flex;
}
.fixed-menu
  .side-menu.active
  .horizontal-menu
  .horizontal-menu-inner
  .close-btn {
  display: block;
  text-indent: -9999px;
  width: 24px;
  height: 24px;
  background: url(../images/x-lg.svg) no-repeat 50% / cover;
}
.fixed-menu .side-menu.active .horizontal-menu {
  padding: 20px 0 0;
}
.fixed-menu .side-menu.active .horizontal-menu .horizontal-menu-inner {
  display: flex;
  margin: 0 15px;
  padding: 10px 0;
  border-top: 3px solid #10069e;
  justify-content: space-between;
  color: #10069e;
  font-weight: bold;
}
.fixed-menu
  .side-menu.active
  .horizontal-menu
  .horizontal-menu-inner
  .horizontal-menu-inner-right {
  width: 60%;
  min-width: 150px;
  display: flex;
  justify-content: space-between;
}
.fixed-menu .side-menu.active .global-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(60vh - 66.4px);
  padding: 0 10px;
  font-weight: bold;
  margin: 0 15px;
  border-bottom: 1px solid #000;
  line-height: 35px;
}
.fixed-menu .side-menu.active .global-menu-under {
  height: 40vh;
  margin: 0 15px;
  padding: 5vh 10px;
  line-height: 35px;
}
.fixed-menu .side-menu.active .global-menu-under .global-menu-under-inner {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.fixed-menu .side-menu.active .global-menu-under h2 {
  text-indent: -9999px;
}
.fixed-menu .side-menu.active .global-menu-under h2 img {
  display: block;
}
.fixed-menu .side-menu.active .global-menu-under .main-head {
  padding: 100px 0 0;
}
.main-head .main-wrapper {
  height: 100vh;
  margin: 0 15px;
  border-bottom: 3px solid #fff;
}
.main-head .main-wrapper img {
  max-width: calc(100% - 30px);
  position: absolute;
  bottom: 3%;
}
.preview {
  padding: 88px 20px;
}
.preview .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.shopping {
  padding: 0 5px 88px;
  margin: 0 15px;
  border-bottom: 3px solid #fff;
}
.shopping .shopping-wrapper li {
  margin: 20px 0;
  position: relative;
  overflow: hidden;
  marker: none;
}
.shopping .shopping-wrapper li a {
  display: block;
  overflow: hidden;
}
.shopping .shopping-wrapper li img {
  display: block;
  width: 100%;
  transition: linear 0.3s;
}
.shopping .shopping-wrapper li a:hover img {
  transform: scale(1.1);
}
.shopping .shopping-wrapper li a:hover img:nth-child(2) {
  transform: scale(1);
}
.shopping .shopping-wrapper .souvenir .white-bord {
  display: none;
}
.shopping .shopping-wrapper .souvenir h3 {
  width: 80%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Druk Wide Bold", sans-serif;
  font-size: 8vw;
  color: #10069e;
}
.shopping .shopping-wrapper .souvenir:hover h3 {
  color: #d0ff13;
}
.description {
  margin: 0 15px;
  color: #fff;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
  position: relative;
  border-bottom: 3px solid #fff;
}
.description .object-wrapper {
  position: absolute;
  top: 25px;
  right: 20px;
}
.description .object-wrapper img {
  width: 80px;
}
.description .text-part1 {
  padding: 100px 5px;
}
.description .text-part2 {
  padding: 0 5px;
}
.description .text-part1 p,
.description .text-part2 p {
  margin: 20px 0;
}
.description .text-part1 p:first-child,
.description .text-part2 p:first-child {
  margin-top: 0;
}
.description .text-part1 img,
.description .text-part2 img {
  margin-top: 35px;
  width: 100%;
}
.description .logo-object {
  width: 100%;
}
.description .logo-object img {
  display: block;
  margin: 88px auto;
  width: 80%;
  max-width: 300px;
}
.stores {
  margin: 0 15px;
  padding: 88px 5px;
}
.brands {
  margin: 0 15px;
  padding: 0 5px 88px;
}
.stores-wrapper,
.brands-wrapper {
  margin: 5px;
  background-color: #fff;
}
.stores-wrapper .title-wrapper,
.brands-wrapper .title-wrapper {
  height: 60px;
  font-size: 1.6rem;
  font-family: "Druk Wide Bold", sans-serif;
  padding: 0 15px;
  border-bottom: 1px solid black;
}
.stores-wrapper .title-wrapper h3,
.brands-wrapper .title-wrapper h3 {
  line-height: 60px;
}
.brands-wrapper .brands-item-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.brands-wrapper .brands-item-wrapper img {
  width: 100%;
  max-width: 200px;
}
.stores-wrapper .store-item {
  font-family: "Montserrat", sans-serif;
  padding: 88px 20px 0;
}
.stores-wrapper .store-item h4 {
  margin-bottom: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}
.stores-wrapper .store-item strong {
  display: block;
  font-family: "Druk Wide Bold", sans-serif;
  padding-bottom: 5px;
}
.stores-wrapper .store-item .store-text li {
  margin: 20px 0;
}
.stores-wrapper .store-item:last-child {
  padding-bottom: 88px;
}
footer {
  padding: 0 15px;
}
footer .ft-img-wrapper {
  padding: 100px 5px 0;
  position: relative;
}
footer .ft-img-wrapper img {
  display: block;
  margin: 0 auto;
  margin-bottom: 160px;
  width: 80%;
  max-width: 300px;
}
footer .ft-img-wrapper img:nth-child(3) {
  position: absolute;
  margin-bottom: 20px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
footer .ft-img-wrapper img:last-child {
  width: 100%;
  max-width: 600px;
}
footer .ft-menu {
  padding: 0 10px 55px;
  font-weight: bold;
  line-height: 40px;
  color: white;
  border-bottom: 3px solid #fff;
}
footer .ft-upper {
  padding: 55px 5px;
  color: #b0b8c1;
  font-size: 12px;
  line-height: 30px;
  border-bottom: 3px solid #fff;
}
footer .ft-upper .toss-escrow {
  display: flex;
  margin: 10px 0;
  min-width: 272px;
}
footer .ft-upper .toss-escrow img {
  height: 20px;
}
footer .ft-upper .toss-escrow p {
  font-size: 10px;
}
footer .ft-under {
  padding: 55px 5px;
  color: #b0b8c1;
  font-size: 12px;
  line-height: 30px;
}
footer .ft-under .portfolio {
  position: relative;
  width: fit-content;
}
footer .ft-under .portfolio::after {
  content: "";
  width: 18px;
  height: 18px;
  background: url(../images/arrow-up-right.svg) no-repeat 50% / cover;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -30px;
}
